[submodule "example/jetos-qemu/jetos"]
	path = example/jetos-qemu/jetos
	url = https://github.com/gchamp20/forge.ispras.ru-git-chpok

[submodule "example/freertos-rpi2/freertos"]
	path = example/freertos-rpi2/freertos
	url = https://github.com/gchamp20/FreeRTOS-RPI2B
[submodule "example/ucos-rpi2/ucos"]
	path = example/ucos-rpi2/ucos
	url = https://github.com/fmlab/ucos_RaspberryPi
[submodule "example/freertos-rpi3/freertos"]
	path = example/freertos-rpi3/freertos
	url = https://github.com/gchamp20/FreeRTOS-RPI2B
[submodule "example/linux-folly/folly"]
	path = example/linux-folly/folly
	url = https://github.com/facebook/folly
